/**
 * ScandiPWA_ServerDate
 *
 * @category  ScandiPWA
 * @package   ScandiPWA_ServerDate
 * @author    Sandis Bogacenkovs sandis.bogacenkovs@scandiweb.com
 * @copyright Copyright (c) 2020 Scandiweb, Inc (https://scandiweb.com)
 * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

.ServerDate {
    position: absolute;
    z-index: 1;
    background-color: #000;
    opacity: 0.8;
    width: 100%;

    .ServerDate-text {
        color: #fff;
        text-align: center;
    }
}
