.products-grid {
    .product-items {
        .product-item {
            .product-item-info {
                position: relative;

                .badge {
                    width: 80px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                }
            }
        }
    }
}
