/**
 * @category    StickyHeader
 * @package     Scandiweb/StickyHeader
 * @author      Sandis Bogacenkovs <sandis.bogacenkovs@scandiweb.com>
 * @copyright   Copyright (c) 2020 Scandiweb, Ltd (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

header {
  z-index: 5;
  position: sticky;
  width: 100%;
  top: 0; }
  header .logo {
    width: 15%; }
  header .content.wrapper {
    background-color: #FFFFFF; }
  header .nav-sections .switcher-currency {
    display: none !important; }
  header .nav-sections .switcher-language {
    display: none !important; }
  header .nav-sections .navigation {
    width: max-content; }

.page-header {
  position: sticky;
  transition: top 500ms; }

.sticky-header {
  position: sticky;
  top: 100;
  transition: top 500ms; }
  .sticky-header .logo {
    position: relative;
    z-index: 5;
    scale: 0.8;
    transition: scale 500ms; }
  .sticky-header .minicart-wrapper, .sticky-header .block-search {
    position: relative;
    z-index: 5; }
    .sticky-header .minicart-wrapper .nested, .sticky-header .block-search .nested {
      visibility: hidden; }
