.page-header .switcher .options .action.toggle:after,
.page-footer .switcher .options .action.toggle:after {
    float: right;
}

.header.panel > .header.links {
    float : none !important;
    display: inline !important;
    @include tablet() {
        li:last-child {
            padding-right: 10px;
        }
    }
    @include desktop(){
        li:last-child {
            padding-right: 20px;
        }
    }
    .greet.welcome {
        @include tablet() {
            margin-right: 10px;
            li:last-child{
                padding-right: 5px;
            }
        }
        @include desktop() {
            margin-right: 15px;
        }
    }

}
.page-header .panel.wrapper {
    text-align: end;
}
.page-header .switcher .options.active ul.dropdown, .page-footer .switcher .options.active ul.dropdown {
    text-align: left;
}
