/* Breakpoints */
$bp-mobile: 767px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-desktop-l: 1280px;

/* Colors */
$c-sushi: #85B73C;
$c-clay: #2C2F46;
$c-gray: #85878F;
$c-mariner: #2682BD;
$c-matisse: #2170A3;
$c-blue: #1E4CA8;
$c-liliac: #F5F7FB;
$c-graybg: #E4E6E9;

/* Fonts */
$f-openSans-light : OpenSans Light;
$f-openSans-bold: OpenSans Bold;
$f-openSans-semibold: OpenSans SemiBold;
$f-openSans-regular: OpenSans Regular;

/* Slick Slider */
// Default Variables

$slick-font-path: "./fonts/";
$slick-font-family: "slick";
$slick-loader-path: "../assets/images/";
$slick-dot-color: black;
$slick-dot-color-active: $slick-dot-color;
$slick-prev-character: "\2190";
$slick-next-character: "\2192";
$slick-dot-character: "\2022";
$slick-dot-size: 10px;
$slick-opacity-default: 0.5;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 0.25;
