/* Breakpoints */
.page-header .switcher .options .action.toggle:after,
.page-footer .switcher .options .action.toggle:after {
  float: right; }

.header.panel > .header.links {
  float: none !important;
  display: inline !important; }
  @media only screen and (min-width: 767px) and (max-width: 1024px) {
    .header.panel > .header.links li:last-child {
      padding-right: 10px; } }
  @media only screen and (min-width: 1024px) {
    .header.panel > .header.links li:last-child {
      padding-right: 20px; } }
  @media only screen and (min-width: 767px) and (max-width: 1024px) {
    .header.panel > .header.links .greet.welcome {
      margin-right: 10px; }
      .header.panel > .header.links .greet.welcome li:last-child {
        padding-right: 5px; } }
  @media only screen and (min-width: 1024px) {
    .header.panel > .header.links .greet.welcome {
      margin-right: 15px; } }

.page-header .panel.wrapper {
  text-align: end; }

.page-header .switcher .options.active ul.dropdown, .page-footer .switcher .options.active ul.dropdown {
  text-align: left; }
