<h2>Courier Delivery Service</h2>
<div class="courier-delivery-ser">
    <div class="img-cont"><img src="{{media url=images/purolator.jpg}}" alt="Purolator Van Image"></div>
    <div class="body-text"> JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products). It
        is important that you provide correct address information. If after three failed attempts of delivering your
        products, it will be held
        at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will be
        returned<br>
        You will receive a shipment email with a Purolator tracking number once your order is ready for
        delivery. You
        will be able to start tracking your order at<a href="http://www.purolator.com" target="_blank">
            http://www.purolator.com</a> once Purolator picks up the products from
        the JYSK store.
    </div>
</div>
