<div class="half-column-content">
    <div class="left-column">
        <h2>Half column content</h2>
        <p class="body-text">JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products). It
            is important that
            you provide correct address information. If after three failed attempts of delivering your products, it will
            be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will
            be returned to the JYSK store that sent the product out. At this point, a refund will be given to you for
            only the products.</p>

        <p class="body-text">You will receive a shipment email with a Purolator tracking number once your order is ready
            for delivery.
            You will be able to start tracking your order at <a href="http://www.purolator.com" target="_blank">
                http://www.purolator.com</a> once Purolator picks up the
            products from the JYSK store.
        </p>
    </div>
    <div class="right-column">
        <h2>Half column content</h2>
        <p class="body-text">
            JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products). It is important that
            you provide correct address information. If after three failed attempts of delivering your products, it will
            be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will
            be returned to the JYSK store that sent the product out. At this point, a refund will be given to you for
            only the products.</p>

        <p class="body-text">
            You will receive a shipment email with a Purolator tracking number once your order is ready
            for delivery.
            You will be able to start tracking your order at <a href="http://www.purolator.com" target="_blank">
            http://www.purolator.com </a> once Purolator picks up the
            products from the JYSK store.
        </p>
    </div>
</div>
