<div class="full-width-p">
    <h2>Local Delivery Service</h2>
    <h2 class="subtitle">Heading 2 subtitle</h2>
    <p class="body-text">JYSK.lv uses 3rd party delivery companies to send furniture and mattress products. All
        deliveries will be a two
        man service and will be either first-point-of-entry or any room in the house depending on location.</p>
    <table class="desktop">
        <thead>
        <tr>
            <th>&nbsp</th>
            <th>A Table Example Column 1</th>
            <th>Another Column</th>
            <th>Last Column</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row title<br>
                in two lines
            </td>
            <td>Some text aligned in center of cell</td>
            <td>Second row example</td>
            <td>Last column row</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>Lorem ipsum dolor jysk amet</td>
            <td>Consectuam</td>
            <td>
                <div class="check-mark-ico">&nbsp;</div>
                Integrated
            </td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>Lorem ipsum dolor jysk amet</td>
            <td>
                <div class="check-mark-ico">&nbsp;</div>
                Yes
            </td>
            <td>This was an empty cell</td>
        </tr>
        <tr>
            <td>Row title<br>
                in three long lines<br>
                to show fluidity
            </td>
            <td>Two lines content<br>
                can go there
            </td>
            <td>
                Numbers of row is unlimited,and the content will stretch according to it
            </td>
            <td>
                Two lines content<br>
                can go there
            </td>
        </tr>
        </tbody>
    </table>
    <div class="mobile">
        <table>
            <thead>
            <tr>
                <th colspan="2">A Table Example Column 1</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Row title in two lines lorem ipsum</td>
                <td>Some text aligned in center of cell</td>
            </tr>
            <tr>
                <td>Small row title</td>
                <td>Lorem ipsum dolor jysk amet</td>
            </tr>
            <tr>
                <td>Small row title</td>
                <td>Lorem ipsum dolor jysk amet</td>
            </tr>
            <tr>
                <td>Row title<br>
                    in three long lines<br>
                    to show fluidity
                </td>
                <td>Two lines content<br>
                    can go there
                </td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <th colspan="2">Another Column</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Row title in two lines lorem ipsum</td>
                <td>Second row example</td>
            </tr>
            <tr>
                <td>Small row title</td>
                <td>Consectuam</td>
            </tr>
            <tr>
                <td>Small row title</td>
                <td>
                    <div class="check-mark-ico">&nbsp;</div>
                    Yes
                </td>
            </tr>
            <tr>
                <td>Row title<br>
                    in three long lines<br>
                    to show fluidity
                </td>
                <td>Numbers of row is unlimited, and the content will stretch according to it
                </td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <th colspan="2">Another Column</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Row title in two lines lorem ipsum</td>
                <td>Last column row</td>
            </tr>
            <tr>
                <td>Small row title</td>
                <td>
                    <div class="check-mark-ico">&nbsp;</div>
                    Integrated
                </td>
            </tr>
            <tr>
                <td>Small row title</td>
                <td>This was an empty cell</td>
            </tr>
            <tr>
                <td>Row title<br>
                    in three long lines<br>
                    to show fluidity
                </td>
                <td>Two lines content<br>
                    can go there
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
