<div class="local-delivery-servi">
    <h2>Local Delivery Service</h2>
    <p class="body-text">JYSK.lv uses 3rd party delivery companies to send furniture and mattress products. All
        deliveries will be a two
        man service and will be either first-point-of-entry or any room in the house depending on location.</p>
    <div class="shipping-co">
        <ul>
            <li>The best shipping company in the world</li>
            <li>Another bullet point outlining the good local deliveries</li>
            <li>The third bullet point example</li>
        </ul>
    </div>
    <div class="offer-box">
        <div class="left">
            <div class="card">
                <div class="mail-icon">&nbsp;</div>
                <div class="text-block">
                    <div class="title">Saņem atlaides kodu</div>
                    <p>Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu.</p>
                </div>
            </div>
            <div class="card">
                <div class="cart-icon">&nbsp;</div>
                <div class="text-block">
                    <div class="title">Saņem atlaides kodu</div>
                    <p>Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu.</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="card">
                <div class="mail-icon">&nbsp;</div>
                <div class="text-block">
                    <div class="title">Saņem atlaides kodu</div>
                    <p>Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu.</p>
                </div>
            </div>
            <div class="card">
                <div class="cart-icon">&nbsp;</div>
                <div class="text-block">
                    <div class="title">Saņem atlaides kodu</div>
                    <p>Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu.</p>
                </div>
            </div>
        </div>
    </div>
</div>
