<div class="most-important-infor">
    <div class="rectangle">&nbsp;</div>
    Most important information goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet
    vestibulum ligula, eu ultricies nibh. Sed eu dolor neque. Vestibulum rhoncus ligula a leo placerat, vitae
    scelerisque purus malesuada. Pellentesque vel fringilla lacus. Mauris auctor lectus eget eros dapibus imperdiet.
    Maecenas at placerat odio.
</div>
