/* Breakpoints */
/* Colors */
/* Fonts */

.cms-page-view .most-important-infor {
  font-family: OpenSans Light;
  font-size: 26px;
  color: #85B73C;
  line-height: 39px;
  display: flex; }
  .cms-page-view .most-important-infor .rectangle {
    width: 100%;
    border-top: 1px solid #85B73C;
    margin-right: 3%;
    margin-top: 20px; }
    @media only screen and (min-width: 767px) and (max-width: 1024px) {
      .cms-page-view .most-important-infor .rectangle {
        width: 50%; } }
    @media only screen and (min-width: 1024px) {
      .cms-page-view .most-important-infor .rectangle {
        width: 25%; } }

.cms-page-view h2 {
  padding-top: 5%;
  font-family: OpenSans Bold;
  font-size: 17px;
  color: #2c2f46; }
  @media only screen and (min-width: 1024px) {
    .cms-page-view h2 {
      padding-top: 2%; } }

.cms-page-view .body-text {
  padding-top: 5%;
  font-size: 14px;
  color: #85878F;
  line-height: 26px; }
  @media only screen and (min-width: 1024px) {
    .cms-page-view .body-text {
      padding-top: 1%; } }
  .cms-page-view .body-text br {
    display: block;
    margin: 5%; }
    @media only screen and (min-width: 1024px) {
      .cms-page-view .body-text br {
        margin: 1%; } }

.cms-page-view a {
  font-size: 14px;
  color: #2682BD;
  line-height: 26px; }

.cms-page-view a:hover {
  color: #2170A3; }

.cms-page-view .mail-icon {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/images/letter-icon.svg");
  background-color: #1E4CA8;
  margin: auto auto 10%; }

.cms-page-view .cart-icon {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/images/basket-icon.svg");
  background-color: #1E4CA8;
  margin: auto auto 10%; }

.cms-page-view .check-mark-ico {
  background-image: url("../assets/images/checkmark-icon.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle; }

.cms-page-view .shipping-co ul, .cms-page-view .shipping-co li {
  padding-right: 10%;
  font-size: 14px;
  color: #85878F;
  line-height: 26px;
  font-family: OpenSans Bold; }

.cms-page-view .text-block .title {
  font-weight: bold;
  font-size: 14px;
  color: #85878F;
  line-height: 26px;
  text-transform: uppercase;
  padding-bottom: 1%; }

.cms-page-view .text-block p {
  font-size: 13px;
  color: #85878F;
  line-height: 19px; }

.cms-page-view .offer-box {
  width: 100%; }
  .cms-page-view .offer-box .right {
    display: flex;
    text-align: center; }
    @media only screen and (min-width: 1024px) {
      .cms-page-view .offer-box .right {
        margin-right: 10%; } }
    .cms-page-view .offer-box .right .card {
      display: grid;
      padding: 5%;
      width: 45%; }
    .cms-page-view .offer-box .right .mail-icon, .cms-page-view .offer-box .right .cart-icon {
      margin: auto auto 2%; }
  .cms-page-view .offer-box .card {
    width: 40%;
    display: inline-block;
    text-align: center;
    margin: auto;
    padding-left: 1%;
    padding-right: 1%; }

.cms-page-view .left .card {
  width: 100%;
  text-align: left; }
  @media only screen and (min-width: 1024px) {
    .cms-page-view .left .card {
      width: 50%;
      float: left; } }

.cms-page-view .card {
  padding-bottom: 5%;
  width: 100%; }
  @media only screen and (min-width: 1024px) {
    .cms-page-view .card {
      width: 90%;
      padding-bottom: 3%; } }
  .cms-page-view .card .mail-icon {
    margin: auto 5% auto auto;
    float: left; }
  .cms-page-view .card .cart-icon {
    margin: auto 5% auto auto;
    float: left; }

.cms-page-view .subtitle {
  color: #2682BD;
  line-height: 22px;
  font-family: OpenSans Regular;
  text-transform: uppercase; }

.cms-page-view .half-column-content {
  display: inline-block;
  width: 100%; }
  @media only screen and (min-width: 1024px) {
    .cms-page-view .half-column-content {
      display: flex; } }
  .cms-page-view .half-column-content .left-column {
    margin-right: 5%; }

@media only screen and (min-width: 1024px) {
  .cms-page-view .mobile {
    display: none; } }

.cms-page-view .mobile table {
  margin-top: 10px;
  text-align: center; }
  .cms-page-view .mobile table thead, .cms-page-view .mobile table th {
    background-color: #F5F7FB;
    padding: 3% 3%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    opacity: 0.55;
    color: #2C2F46;
    line-height: 22px;
    height: 35px;
    vertical-align: middle; }
  .cms-page-view .mobile table td, .cms-page-view .mobile table tr {
    border: 1px solid #E4E6E9;
    font-size: 14px;
    color: #85878F;
    line-height: 26px;
    width: 50%;
    vertical-align: middle;
    padding: 3% 3%; }
  .cms-page-view .mobile table td:first-child {
    text-align: left; }

@media only screen and (max-width: 767px) {
  .cms-page-view .desktop {
    display: none; } }

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .cms-page-view .desktop {
    display: none; } }

.cms-page-view .desktop th {
  background-color: #F5F7FB;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  opacity: 0.55;
  color: #2C2F46;
  line-height: 22px;
  padding: 20px 20px;
  text-transform: uppercase; }

.cms-page-view .desktop td, .cms-page-view .desktop tr {
  border: 1px solid #F5F7FB;
  text-align: center;
  vertical-align: middle;
  width: 25%;
  padding: 20px 20px; }

.cms-page-view .desktop th {
  border: 1px solid #E4E6E9;
  font-weight: bold;
  font-size: 13px;
  opacity: 0.55;
  color: #2C2F46;
  line-height: 22px; }

.cms-page-view .desktop td:first-child {
  text-align: left;
  padding-left: 2%;
  width: 20%; }

.cms-page-view .courier-delivery-ser {
  width: 100%;
  height: auto; }
  @media only screen and (min-width: 1024px) {
    .cms-page-view .courier-delivery-ser {
      display: flex;
      flex-direction: row-reverse; }
      .cms-page-view .courier-delivery-ser .body-text {
        margin-right: 5%; }
      .cms-page-view .courier-delivery-ser .img-cont {
        width: 20%;
        text-align: right; } }
    @media only screen and (min-width: 1024px) and (min-width: 767px) and (max-width: 1024px) {
      .cms-page-view .courier-delivery-ser .img-cont {
        width: 30%;
        float: right; } }
    @media only screen and (min-width: 1024px) and (min-width: 1024px) {
      .cms-page-view .courier-delivery-ser .img-cont {
        margin-right: 5%;
        width: 30%; } }
    @media only screen and (min-width: 1024px) and (min-width: 767px) and (max-width: 1024px) {
      .cms-page-view .courier-delivery-ser .img-cont img {
        width: 90%; } }

@font-face {
  font-family: 'OpenSans Light';
  src: url("../fonts/opensans/light/opensans-300.eot");
  src: url("../fonts/opensans/light/opensans-300.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/light/opensans-300.woff2") format("woff2"), url("../fonts/opensans/light/opensans-300.woff") format("woff"), url("../fonts/opensans/light/opensans-300.ttf") format("truetype"), url("../fonts/opensans/light/opensans-300.svg#Open Sans") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'OpenSans Bold';
  src: url("../fonts/opensans/bold/opensans-700.eot");
  src: url("../fonts/opensans/bold/opensans-700.eot?#iefix") format("embedded-opentype"), url("../fonts/oopensans/bold/opensans-700.woff2") format("woff2"), url("../fonts/opensans/bold/opensans-700.woff") format("woff"), url("../fonts/opensans/bold/opensans-700.ttf") format("truetype"), url("../fonts/opensans/bold/opensans-700.svg#Open Sans") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'OpenSans SemiBold';
  src: url("../fonts/opensans/semibold/opensans-600.eot");
  src: url("../fonts/opensans/semibold/opensans-600.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/semibold/opensans-600.woff2") format("woff2"), url("../fonts/opensans/semibold/opensans-600.woff") format("woff"), url("../fonts/opensans/semibold/opensans-600.ttf") format("truetype"), url("../fonts/opensans/semibold/opensans-600.svg#Open Sans") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'OpenSans Regular';
  src: url("../fonts/opensans/regular/opensans-400.eot");
  src: url("../fonts/opensans/regular/opensans-400.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/regular/opensans-400.woff2") format("woff2"), url("../fonts/opensans/regular/opensans-400.woff") format("woff"), url("../fonts/opensans/regular/opensans-400.ttf") format("truetype"), url("../fonts/opensans/regular/opensans-400.svg#Open Sans") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
