blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* Hack retained to preserve specificity */
select, input, textarea, button {
    font: 99% sans-serif;
}

pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}


p {
    margin: 0 0 .7em;
    max-width: 700px;
}

table + p {
    margin-top: 1em;
}

h2 {
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
    margin: 3em 0 1em 0;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

h2.intro {
    border-bottom: none;
    font-size: 1em;
    font-weight: normal;
    margin-top: 0;
}

ul li {
    margin-left: 1em;
    margin-bottom: 1.25em;
}

ol li {
    margin-left: 1.25em;
}

ol ul, ul ul {
    margin: .25em 0 0;
}

li > p {
    margin-top: .25em;
}

div.side-by-side {
    width: 100%;
    margin-bottom: 1em;
}

div.side-by-side > div {
    float: left;
    width: 49%;
}

div.side-by-side > div > em {
    margin-bottom: 10px;
    display: block;
}

.faqs em {
    display: block;
}

.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

ul.credits li {
    margin-bottom: .25em;
}

strong {
    font-weight: bold;
}

i {
    font-style: italic;
}

.button {
    background: #fafafa;
    background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background: -o-linear-gradient(top, #ffffff, #eeeeee);
    background: linear-gradient(to bottom, #ffffff, #eeeeee);
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2);
    color: #555555;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    height: 31px;
    line-height: 28px;
    outline: none;
    padding: 0 13px;
    text-shadow: 0 1px 0 white;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.select,
.chosen-select,
.chosen-select-no-single,
.chosen-select-no-results,
.chosen-select-deselect,
.chosen-select-rtl,
.chosen-select-width {
    width: 100%;
}
