<?php
/**
 * Scandiweb_StoreFinder
 *
 * @category    Scandiweb
 * @package     Scandiweb/StoreFinder
 * @author      Sandis Bogacenkovs <sandis.bogacenkovs@scandiweb.com>
 * @copyright   Copyright (c) 2020 Scandiweb, Inc (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

use Scandiweb\StoreFinder\Block\StoreFinder;

/**
 * @var StoreFinder $block
 */
?>
<div class="storefinder-index-page" data-bind="scope: 'storefinderList'">
    <div class="map" id="map"></div>
    <div class="detail-container">
        <div class="search-container">
            <div class="search-title">Find closest shop</div>
            <label for="country"></label>
            <div class="country-switch">
                <select id="country" name="country" class="chosen-select" tabindex="1"
                        onchange="window.locateCountry(this.value)">
                    <option value="Latvia">Latvia</option>
                    <option value="Sweden">Sweden</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="USA">United States</option>
                </select>
            </div>
            <input class="place-search" id="search-storefinder"
                   type="text" placeholder="Search for the closest shop"/>
            <div class="suggestion-container"></div>
            <button class="search-button">Search</button>
        </div>
        <div class="list-container">
            <div class="list"></div>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "storeLocator": {},
        "chosen":       {},
        "choseninit":   {}
    }
}
</script>
