/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }

    .slick-track {
        .product-item {
            .product-item-info {
                border: 1px solid $c-liliac;

                .product {
                    .product-image-container {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}

.product-item-details {
    padding-top: 5%;
    margin-left: 5%;

    .price-box {
        margin: 1% 0 5%;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
        .slick-slide {
            opacity: 1;
            width: 200px;
        }

        .slick-active + .slick-active {
            opacity: 1;
        }

        .slick-slide + .slick-active + .slick-active {
            opacity: 1;
        }
    }

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .product-item-name {
        font-family: $f-openSans-bold;
        font-size: 16px;
        color: $c-clay;
    }

    .price {
        font-family: $f-openSans-bold;
        font-size: 18px !important;
        color: $c-gray;
    }

    .instock {
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
    }

    .product-item-info {
        width: 95%;
        @include mobile {
            width: 95%;
        }
        @include tablet {
            width: 95%;
        }
    }
}

.catalog-product-view {
    &.page-layout-1column {
        .products-grid {
            .product-item {
                margin: 0 auto;
                display: flex;
                justify-content: center;
                @include tablet{
                    width: 100px;
                }
            }
        }
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
        width: 100%;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }

    .details {
        .instock {
            font-family: $f-openSans-bold;
            font-size: 18px;
            color: $c-sushi;

            .dot {
                background-color: $c-sushi;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                margin: 8px 8px 0 0;
            }
        }
    }
}

.relatedproducts {
    text-align: center;
    font-family: $f-openSans-light;
    font-size: 26px;
    color: $c-clay;
}

@include mobile {
    .slick-slide {
        opacity: 0.5;
    }

    .slick-slide + .slick-active {
        opacity: 1;
    }

    .slick-slide {
        opacity: 0.5;
    }
}

@include desktop {
    .slick-slide {
        opacity: 0.5;
    }

    .slick-active + .slick-center {
        opacity: 1;
    }

    .slick-active + .slick-active + .slick-active {
        opacity: 0.5;
    }
}

@include desktop-l {
    .slick-slide {
        opacity: 1;
    }

    .slick-active + .slick-active + .slick-active {
        opacity: 1;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

