@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    } @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    } @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center;
    }
}

/* Icons */

@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

.slider-slick {
    width: 90%;
    margin: 0 auto;
    @include tablet {
        width: 80%;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 45px;
    width: 23px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 100;

    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }

    &:hover {
        opacity: $slick-opacity-on-hover;
        background: none;
    }

    &:before {
        font-family: $slick-font-family;
        font-size: 20px;
        line-height: 1;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-arrow {
    background-repeat: no-repeat;
    background: none;
}

.slick-prev {
    background-image: url("../assets/images/arrow-left.svg");
    left: -30px;

    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }

    &:hover, &:focus {
        outline: none;
        border: none;
        background-image: url("../assets/images/arrow-left.svg");
    }
}

.slick-next {
    background-image: url("../assets/images/arrow-right.svg");
    right: -30px;

    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }

    &:hover, &:focus {
        outline: none;
        border: none;
        background-image: url("../assets/images/arrow-right.svg");
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 0 -5%;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 7px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;

            &:hover, &:focus {
                outline: none;

                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}
