/**
 * @category    StickyHeader
 * @package     Scandiweb/StickyHeader
 * @author      Sandis Bogacenkovs <sandis.bogacenkovs@scandiweb.com>
 * @copyright   Copyright (c) 2020 Scandiweb, Ltd (https://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

header {
    z-index: 5;
    position: $p-sticky;
    width: 100%;
    top: 0;

    .logo {
        width: 15%;
    }

    .content.wrapper {
        background-color: $c-white;
    }

    .nav-sections {
        .switcher-currency {
            display: none !important;
        }

        .switcher-language {
            display: none !important;
        }

        .navigation {
            width: max-content;
        }
    }
}

.page-header {
    position: $p-sticky;
    transition: top $transition-time;
}

.sticky-header {
    position: $p-sticky;
    top: 100;
    transition: top $transition-time;

    .logo {
        position: $p-relative;
        z-index: 5;
        scale: 0.8;
        transition: scale $transition-time;
    }

    .minicart-wrapper, .block-search {
        position: $p-relative;
        z-index: 5;

        .nested {
            visibility: hidden;
        }
    }
}
