@mixin mobile() {
    @media only screen and (max-width: $bp-mobile) {
        @content;
    }
}

@mixin tablet() {
    @media only screen and (min-width:$bp-mobile) and (max-width: $bp-desktop) {
        @content;
    }
}

@mixin desktop() {
    @media only screen and (min-width: $bp-desktop) {
        @content;
    }
}

@mixin desktop-l() {
    @media only screen and (min-width: $bp-desktop-l) {
        @content;
    }
}
