.page-title {
    margin-bottom: 30px
}

.storefinder-index-page {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.storefinder-index-page .head {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-order: 20;
    order: 20;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px
}

.storefinder-index-page .gmap-place-search-submit {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
    padding: 2px
}

.storefinder-index-page #storefinder-distance, .storefinder-index-page #storefinder_distance_chosen {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-top: 10px;
    width: 100%;
    max-width: none
}

.storefinder-index-page .map {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-order: 10;
    order: 10;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    z-index: 1;
}

.storefinder-index-page .list {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-order: 30;
    order: 30
}

.storefinder-index-page .list .title-row {
    display: -webkit-flex;
    display: flex
}

.storefinder-index-page .list .index {
    -webkit-flex: 0 0 30px;
    flex: 0 0 30px;
    font-size: 24px
}

.storefinder-index-page .list .title {
    -webkit-flex: 1 1;
    flex: 1 1;
    display: inline-block;
    margin: 0;
    line-height: 34px
}

.storefinder-index-page .list .go-to-marker {
    -webkit-flex: 0 0 30px;
    flex: 0 0 30px;
    width: 30px;
    height: 0;
    overflow: visible
}


.storefinder-index-page .storefinder-store {
    margin-bottom: 20px
}

.storefinder-index-page .url-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: 5px
}

.storefinder-index-page .more-details-block, .storefinder-index-page .direction-url-block {
    -webkit-flex: 1 1 50%;
    flex: 1 1 50%;
    height: 40px;
    padding: 2px
}

.storefinder-index-page .more-details-url, .storefinder-index-page .direction-url {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid gray
}

.storefinder-infowindow {
    display: -webkit-flex;
    display: flex
}

.storefinder-infowindow .image {
    max-width: 100px;
    max-height: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.storefinder-infowindow .info-block {
    padding-left: 20px
}

@media screen and (min-width: 1000px) {
    .storefinder-index-page .head {
        -webkit-flex: 1 1 100%;
        flex: 1 1 100%
    }

    .storefinder-index-page .map {
        -webkit-flex: 1 1 50%;
        flex: 1 1 50%;
        -webkit-order: 30;
        order: 30;
        height: 500px;
        margin-left: 30px;
    }

    .storefinder-index-page .list {
        position: relative;
        -webkit-flex: 1 1 50%;
        flex: 1 1 50%;
        -webkit-order: 20;
        order: 20;
        height: 250px;
        overflow-y: auto;
        box-sizing: border-box;
        padding-right: 30px
    }

    .storefinder-index-page .direction-url-block {
        text-align: right
    }
    .search-button {
        width: 100%;
    }

    .country-switch {
        padding-bottom: 10px;
    }
    .country-switch .country-switch-dropdown{
        height: 40px;
    }
}
.page-layout-3columns .column.main {
    width: 100% !important;
}
.sidebar-additional {
    display: none;
}
.suggestion-container {
    padding-top: 10px;
}
.detail-container {
    width: 35%;
}
