.cms-page-view {

    .most-important-infor {
        font-family: $f-openSans-light;
        font-size: 26px;
        color: $c-sushi;
        line-height: 39px;
        display: flex;

        .rectangle {
            width: 100%;
            border-top: 1px solid $c-sushi;
            margin-right: 3%;
            margin-top: 20px;

            @include tablet() {
                width: 50%;
            }

            @include desktop() {
                width: 25%;
            }
        }
    }

    h2 {
        padding-top: 5%;
        font-family: $f-openSans-bold;
        font-size: 17px;
        color: $c-clay;
        @include desktop() {
            padding-top: 2%;
        }
    }

    .body-text {
        padding-top: 5%;
        font-size: 14px;
        color: $c-gray;
        line-height: 26px;
        @include desktop() {
            padding-top: 1%;
        }

        br {
            display: block;
            margin: 5%;
            @include desktop() {
                margin: 1%;
            }
        }
    }

    a {
        font-size: 14px;
        color: $c-mariner;
        line-height: 26px;
    }

    a:hover {
        color: $c-matisse;
    }

    .mail-icon {
        display: block;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../assets/images/letter-icon.svg");
        background-color: $c-blue;
        margin: auto auto 10%;
    }

    .cart-icon {
        display: block;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../assets/images/basket-icon.svg");
        background-color: $c-blue;
        margin: auto auto 10%;
    }

    .check-mark-ico {
        background-image: url("../assets/images/checkmark-icon.svg");
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
    }

    .shipping-co {
        ul, li {
            padding-right: 10%;
            font-size: 14px;
            color: $c-gray;
            line-height: 26px;
            font-family: $f-openSans-bold;
        }
    }

    .text-block {
        .title {
            font-weight: bold;
            font-size: 14px;
            color: $c-gray;
            line-height: 26px;
            text-transform: uppercase;
            padding-bottom: 1%;
        }

        p {
            font-size: 13px;
            color: $c-gray;
            line-height: 19px;
        }
    }

    .offer-box {
        width: 100%;

        .right {
            display: flex;
            text-align: center;
            @include desktop() {
                margin-right: 10%;
            }

            .card {
                display: grid;
                padding: 5%;
                width: 45%;
            }

            .mail-icon, .cart-icon {
                margin: auto auto 2%;
            }
        }

        .card {
            width: 40%;
            display: inline-block;
            text-align: center;
            margin: auto;
            padding-left: 1%;
            padding-right: 1%;
        }

    }

    .left {
        .card {
            width: 100%;
            text-align: left;
            @include desktop() {
                width: 50%;
                float: left;
            }
        }
    }

    .card {
        padding-bottom: 5%;
        width: 100%;
        @include desktop() {
            width: 90%;
            padding-bottom: 3%;
        }

        .mail-icon {
            margin: auto 5% auto auto;
            float: left;
        }

        .cart-icon {
            margin: auto 5% auto auto;
            float: left;
        }
    }

    .subtitle {
        color: $c-mariner;
        line-height: 22px;
        font-family: $f-openSans-regular;
        text-transform: uppercase;
    }

    .half-column-content {
        display: inline-block;
        width: 100%;
        @include desktop() {
            display: flex;
        }

        .left-column {
            margin-right: 5%;
        }
    }

    .mobile {
        @include desktop() {
            display: none;
        }

        table {
            margin-top: 10px;
            text-align: center;

            thead, th {
                background-color: $c-liliac;
                padding: 3% 3%;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
                opacity: 0.55;
                color: #2C2F46;
                line-height: 22px;
                height: 35px;
                vertical-align: middle;

            }

            td, tr {
                border: 1px solid $c-graybg;
                font-size: 14px;
                color: #85878F;
                line-height: 26px;
                width: 50%;
                vertical-align: middle;
                padding: 3% 3%;
            }

            td:first-child {
                text-align: left;
            }
        }
    }

    .desktop {
        @include mobile() {
            display: none;
        }
        @include tablet() {
            display: none;
        }

        th {
            background-color: $c-liliac;
            text-align: center;
            font-weight: bold;
            font-size: 13px;
            opacity: 0.55;
            color: #2C2F46;
            line-height: 22px;
            padding: 20px 20px;
            text-transform: uppercase;
        }

        td, tr {
            border: 1px solid $c-liliac;
            text-align: center;
            vertical-align: middle;
            width: 25%;
            padding: 20px 20px;
        }

        th {
            border: 1px solid $c-graybg;
            font-weight: bold;
            font-size: 13px;
            opacity: 0.55;
            color: #2C2F46;
            line-height: 22px;
        }

        td:first-child {
            text-align: left;
            padding-left: 2%;
            width: 20%;
        }
    }

    .courier-delivery-ser {
        width: 100%;
        height: auto;
        @include desktop() {
            display: flex;
            flex-direction: row-reverse;
            .body-text {
                margin-right: 5%;

            }
            .img-cont {
                width: 20%;
                text-align: right;
                @include tablet() {
                    width: 30%;
                    float: right;
                }
                @include desktop() {
                    margin-right: 5%;
                    width: 30%;
                }

                img {
                    @include tablet() {
                        width: 90%;
                    }
                }
            }
        }
    }
}
